/* img {
  transition: 3s;
}
input:checked ~ img {
  /* display: none; */
/* opacity: 0;
}
body {
  background-color: aqua;
  transition: all 3s ease;
} */
/* #temp {
  color: red;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  text-transform: capitalize;
  font-style: italic; */

.base {
  color: rgb(228, 6, 209);
  font-style: oblique;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}
p.base_2 {
  color: rgb(250, 8, 8);
}

li.base {
  color: black;
}
