* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  padding: 40px;

  white-space: nowrap;
  overflow-x: auto;
}

.nav-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;

  background: rgba(212, 175, 55, 0.9);
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.nav-btn.left {
  left: 15px;
}
.nav-btn.right {
  right: 15px;
}

.product {
  display: inline-block;
  vertical-align: top;
  white-space: normal;

  width: 260px;
  margin-right: 20px;

  background: rgba(255, 255, 255, 0.96);
  border-radius: 18px;
  padding: 16px;

  animation: fadeUp 0.7s ease forwards;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.product:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.35),
    0 0 15px rgba(209, 173, 54, 0.4);
}

.product h3 {
  font-size: 16px;
  margin: 12px 0 8px;
  color: #090909;
}

.product img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  background: #f3f3f3;
  border-radius: 14px;
  padding: 10px;
  cursor: pointer;

  transition:
    transform 0.4s ease,
    filter 0.4s ease;
}

.product:hover img {
  transform: scale(1.07);
  filter: brightness(1.1);
}

.product ul {
  list-style: none;
  margin: 10px 0;
}

.product ul li {
  font-size: 13px;
  color: #444;
  margin-bottom: 5px;
}

.product button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: linear-gradient(135deg, #b9935a, #d4af37);
  color: #fff;
  font-weight: bold;
}

.img-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.img-modal img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 20px;
}

.img-modal .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
