/* .demo { */
/* width: 100px;
  height: 50px;
  background-color: aquamarine;
  border: 2px solid rgb(159, 77, 77);
  font-weight: bold;
  color: rgb(28, 7, 7);
  cursor: pointer;
  border-radius: 20px;
} */
/* .demo:hover {
  background-color: blueviolet;
} */

/* .demo:active {
  color: blue;
  font-size: 40px;
} */
/* .click:link {
  color: aqua;
  width: 10em;
  border: 2px seagreen; */
/* }
.click-2:link {
  color: rgba(14, 15, 15, 0.97);
} */
.div_eml:empty {
  background-color: aqua;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.div_eml {
  background-color: rgb(11, 11, 11);
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
