<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Auth</title>

    <!-- CSS CHUNG WEBSITE -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/base.css" />

    <!-- file auth của bạn mình đẻ là tt khách cơ -->
    <link rel="stylesheet" href="./css/TT_khach.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="header">
      <div class="header-row">
        <div class="logo">THỜI TRANG MEN</div>
        <div class="auth">
          <a href="home.html">Home</a>
          <a href="vest.html">Vest</a>
          <a href="quan.html">Quần</a>
          <a href="ca_vat.html">Cà Vạt</a>
          <a href="ao_so_mi.html">Áo Sơ Mi</a>
          <a href="gio_hang.html">Giỏ Hàng</a>
          <a href="TT_khach.html">Đăng nhập</a>
          <a href="dang_ky.html">Đăng Ký</a>
        </div>
      </div>
    </div>

    <!-- AUTH -->
    <div class="auth-wrapper">
      <div class="auth-box">
        <!-- REGISTER -->
        <div id="register" class="auth-form">
          <h2>ĐĂNG KÝ</h2>
          <input type="text" placeholder="Họ và tên" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Mật khẩu" />
          <input type="password" placeholder="Nhập lại mật khẩu" />
          <button>Đăng ký</button>
          <a href="#login" class="link">← Quay lại đăng nhập</a>
        </div>

        <div id="login" class="auth-form">
          <h2>ĐĂNG NHẬP</h2>
          <input type="text" placeholder="Email / Username" />
          <input type="password" placeholder="Mật khẩu" />
          <button>Đăng nhập</button>
          <a href="#register" class="link">Chưa có tài khoản?</a>
        </div>
      </div>
    </div>
    <div class="auth-wrapper admin">
    <script>
      const auth = document.querySelector(".auth-wrapper");

      auth.addEventListener("mousemove", (e) => {
        const rect = auth.getBoundingClientRect();
        auth.style.setProperty("--mx", e.clientX - rect.left + "px");
        auth.style.setProperty("--my", e.clientY - rect.top + "px");
      });
    </script>
  </body>
</html>
