<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOP QUÝ Ông</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="../templates/css/costum.css" />
    <link rel="stylesheet" href="./css/test.css" />
  </head>
  <body>
    <div class="header">
      <div class="header-row">
        <div class="logo">THỜI TRANG MEN</div>
        <div class="auth">
          <a href="home.html">Home</a>
          <a href="vest.html">Vest</a>
          <a href="quan.html">Quần</a>
          <a href="ca_vat.html">Cà Vạt</a>
          <a href="ao_so_mi.html">Áo Sơ Mi</a>
          <a href="gio_hang.html">Giỏ Hàng</a>
          <a href="goi_y.html">Gợi ý</a>
          <a href="TT_khach.html">Đăng nhập</a>
          <a href="dang_ky.html">Đăng Ký</a>
        </div>
      </div>
    </div>
    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        Áo veste Xanh Denim Đậm Kẻ Caro
      </h4>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKCaOc1sr6knTEQCZH-vIvhm9cNJMs5YArxA&s"
      />
      <ul>
        <li style="color: #403c3c">Màu Xanh Đậm kẻ car</li>
        <li style="color: #403c3c">Chất liệu 70% Cotton - 10% Poly</li>
        <li style="color: #403c3c">Kiểu dệt: Twill</li>
        <li>
          <b><i>Giá 6.500.000 VND</i></b>
        </li>
      </ul>
      <button>Mua ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        ÁO VEST NAM MÀU BE KẺ SỌC
      </h4>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWUGjrdl_xjGkzkf8R8sEf4ijDRD_BLiccWw&s"
      />
      <ul>
        <li style="color: #403c3c">Màu sắc: KẺ BE</li>
        <li style="color: #403c3c">Chất liệu: 100% wool:len lông cừu</li>
        <li style="color: #403c3c">Vải lót : 53% polyester, 47 % vicose</li>
        <li>
          <b><i>Giá 7.000.000 VND</i></b>
        </li>
      </ul>
      <button>Mua Ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        Áo Vest Trơn Slimfit
      </h4>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpSruZSJDE58yEStDN2iZg-BeZC10aWgO4aQ&s"
      />
      <ul>
        <li style="color: #403c3c">Màu Đen Nhẹ</li>
        <li style="color: #403c3c">
          Chất liệu: 100% Cotton - 20% Poly - 20% Wool
        </li>
        <li style="color: #403c3c">kiểu dệt Will</li>
        <li>
          <b><i>Giá 2.500.000 VND</i></b>
        </li>
      </ul>
      <button style="background-color: #b38b2e">Mua ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        Áo trắng Ngọc trai
      </h4>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4bP72xrwf7Rel4Boak-uSa5-_HRzZoc0YEDhvKAzVQA&s"
      />
      <ul>
        <li style="color: #403c3c">Màu trắng Ngọc Trai</li>
        <li style="color: #403c3c">
          Chất liệu: 100% Cotton - 20% Poly - 20% Wool
        </li>
        <li style="color: #403c3c">Vải lót : 53% polyester, 47 % vicose</li>
        <li>
          <b><i>5.650.000 VND</i></b>
        </li>
      </ul>
      <button>Mua ngay.</button>
    </div>
    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        Áo vest trắng kem kết pha lê sang trọng
      </h4>
      <img
        src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcR8XbyqpkaqeeaFzRNe3cjkYnAj59Fq-aPG2IgS4vzxyd34GOgt1S15_heRKXIlf_QIxc5JH-NlLYmIb55XCe5_hiwOoOc4"
      />
      <ul>
        <li style="color: #403c3c">Màu trắng</li>
        <li style="color: #403c3c">Đính kèm Pha Lê sang trọng</li>
        <li style="color: #403c3c">Chất liệu 70% Cotton - 10% Poly</li>
        <li style="color: #403c3c; font-style: italic">
          <b><i>Giá 10.000.000 VND</i></b>
        </li>
      </ul>
      <button>Mua ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        VEST NAM MÀU HỒNG
      </h4>
      <img
        src="https://tse1.mm.bing.net/th/id/OIP.cRixCLLxNuZDgE-0aBnAmgHaLH?pid=ImgDet&w=184&h=276&c=7&dpr=1.3&o=7&rm=3"
      />
      <ul>
        <li style="color: #403c3c">
          Chất liệu: 85% Poly, 13% Rayon & 2% Spandex
        </li>
        <li style="color: #403c3c">
          Kiểu dáng: Form slimfit ôm vừa người, tôn dáng
        </li>
        <li style="color: #403c3c">
          Ưu điểm: Bền màu, chống nhăn, thấm hút mồ hôi, giữ phom tốt
        </li>
        <li>
          <b><i>Giá 6.000.000 VND</i></b>
        </li>
      </ul>
      <button>Mua Ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        VEST NAM SỌC TRẮNG
      </h4>
      <img
        src="https://tse4.mm.bing.net/th/id/OIP.bvSZQjaSu4YE3pN9MBuWRQHaHa?w=208&h=208&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3"
      />
      <ul>
        <li style="color: #403c3c">
          Chất liệu: 85% Poly, 13% Rayon & 2% Spandex
        </li>
        <li style="color: #403c3c">
          Kiểu dáng: Form slimfit ôm vừa người,tôn dáng
        </li>
        <li style="color: #403c3c">
          Thiết kế tinh tế,lịch lãm.Áo 2 cúc,Chất liệu mịn,đứng phom,sang trọng
        </li>
        <li>
          <b><i>Giá 8.000.000 VND</i></b>
        </li>
      </ul>
      <button>Mua Ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">VEST TÍM NAM</h4>
      <img
        src="https://tse4.mm.bing.net/th/id/OIP.jsWhmO975TlBatp0QyKatgHaHa?w=208&h=208&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3"
      />
      <ul>
        <li style="color: #403c3c">
          Chất liệu: 28% Rayon, 70% Spun, 2% Spandex
        </li>
        <li style="color: #403c3c">
          Kiểu dáng: Form slimfit ôm vừa người, tôn dáng
        </li>
        <li style="color: #403c3c">
          Thiết kế:Ve áo thiết kế chữ K tinh tế, sang trọng
        </li>
        <li>
          <b><i>Giá 12.450.000 VND</i></b>
        </li>
      </ul>
      <button>Mua Ngay.</button>
    </div>
    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        VEST ĐEN XÁM NAM
      </h4>
      <img
        src="https://sakurafashion.vn/upload/a/7581-the-gioi-vest-nam-753.jpg"
      />
      <ul>
        <li style="color: #403c3c">Chất liệu: 85% Poly, 13% & 2% Spandex</li>
        <li style="color: #403c3c">
          Kiểu dáng: Form slimfit ôm vừa người, tôn dáng
        </li>
        <li style="color: #403c3c">
          Thiết kế: Áo ve K tinh tế,sang trọng,có cúc,túi ngực,xẻ 2 tà sau Quần
          âu basic,2 túi xẻ và 2 túi sau cài khuy
        </li>
        <li>
          <b><i>Giá 4.650.000 VND</i></b>
        </li>
      </ul>
      <button>Mua Ngay.</button>
    </div>

    <div class="product">
      <h4 style="text-transform: uppercase; color: #d4af37">
        VEST NAM KHUY ĐỎ
      </h4>
      <img
        src="https://tse2.mm.bing.net/th/id/OIP.uDnMec5QoVpCv1GXBullqAAAAA?pid=ImgDet&w=184&h=293&c=7&dpr=1.3&o=7&rm=3"
      />
      <ul>
        <li style="color: #403c3c">
          Chất liệu: 28% Rayon, 70% Spun, 2% Spandex
        </li>
        <li style="color: #403c3c">
          Kiểu dáng: Form slimfit ôm vừa người, tôn dáng
        </li>
        <li style="color: #403c3c">
          Thiết kế:Ve áo thiết kế chữ K tinh tế, sang trọng
        </li>
        <li>
          <i><b>Giá 22.450.000 VND</b></i>
        </li>
      </ul>
      <button>Mua Ngay.</button>
    </div>
  </body>
</html>
