<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Auth</title>

    <link rel="stylesheet" href="./css/dang_ki.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/TT_khach.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="auth-wrapper">
      <form class="auth-box" id="registerForm">
        <h2>ĐĂNG KÝ</h2>

        <input type="text" name="username" placeholder="Họ và tên" required />

        <input type="email" name="email" placeholder="Email" required />

        <input
          type="password"
          name="password"
          placeholder="Mật khẩu"
          required
        />

        <input
          type="password"
          name="confirm_password"
          placeholder="Nhập lại mật khẩu"
          required
        />

        <button type="submit">Đăng ký</button>
        <a href="dang_nhap.html" class="link">← Quay lại đăng nhập</a>
      </form>
    </div>
    <script src="/js/register.js"></script>
  </body>
</html>
