<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>SHOP QUÝ Ông</title>
     <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div>
    <a href="index.html">Trang chủ</a>
    <a href="home.html">Home</a>
    <a href="products.html">Sản phẩm</a>
    </div>

    <hr />

    <div>
      <table width="100%">
  <tr>
 
    <td align="left">
      <strong style="font-size:24px;">THỜI TRANG MEN</strong>
    </td>


    <td align="center">
      <a href="#">QUẦN ÁO</a> |
      <a href="#">CÀ VẠT</a> |
      <a href="#">ÁO SƠ MI</a> |
      <a href="#">VEST</a>
    </td>

 
    <td align="right">
      🛒 <a href="#">Giỏ hàng</a> |
      <a href="#">Đăng nhập</a> |
      <a href="#">Đăng ký</a>
    </td>
  </tr>
</table>

<hr>

  </body>
</html>
