<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      h1,
      p {
        color: rgb(10, 174, 67);
        font-style: italic;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <h1>tieu de h1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </body>
</html>
bcZZ
