<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>SHOP QUÝ Ông</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!-- NAV TOP -->
    <div class="top-nav">
      <a href="index.html">Trang chủ</a>
      <a href="home.html">Home</a>
      <a href="products.html">Sản phẩm</a>
      <a href="vest.html">VEST</a>
      <a href="quan.html">quần</a>
      <a href="ca_vat.html">cà vạt</a>
      <a href="ao_so_mi.html">áo sơ mi</a>
    </div>

    <hr />   
        <tr>
          <td class="logo">
            <strong>THỜI TRANG MEN</strong>
          </td>

          <td class="auth">
            <span class="cart">🛒</span>
            <a href="#">Giỏ hàng</a>
            <a href="#">Đăng nhập</a>
            <a href="#">Đăng ký</a>
          </td>
        </tr>
    </div>

    <hr />
  </body>
</html>
