<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a
      href="https://www.youtube.com/watch?v=d5Jh9iz0mtY&list=PLPt6-BtUI22oveeGAyckbAXRSmTBGLZP4&index=16"
      target="_self"
      >click vào bố m đi con chó</a
    >
    <a href="tel: 0352175887">Anh chi vui long lien he tai so nay</a>
    <a href="mailto: vietbachnguyen95@gmail.com"
      >nếu ac có thắc mắc j thì cứ gửi qua email cho e ạ!</a
    >
    <a
      href="mailto: vietbachnguyen95@gmail.com?cc=chominhngu@gmail.com&subject=minh cu to&bcc=minhcuto@gmail.com&body=minh ơi css khó vcl cứu t"
      >gửi email cho admin ạ!</a
    >
  </body>
</html>
