<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Thông tin khách</title>
    <link rel="stylesheet" href="TT_khach.css" />
  </head>
  <body>
    <div class="box">
      <div class="buttons">
        <a href="#login">Đăng nhập</a>

        <a href="#register">Đăng ký</a>
      </div>

      <div id="login" class="form">
        <h2>Đăng nhập</h2>
        <form>
          <input type="text" placeholder="Email / SĐT" />
          <input type="password" placeholder="Mật khẩu" />
          <button type="submit">Đăng nhập</button>
        </form>

        <a href="#forgot" class="forgot">Quên mật khẩu?</a>
      </div>

      <div id="register" class="form">
        <h2>Đăng ký</h2>
        <form>
          <input type="text" placeholder="Họ tên" />
          <input type="text" placeholder="Email / SĐT" />
          <input type="password" placeholder="Mật khẩu" />
          <button type="submit">Đăng ký</button>
        </form>
      </div>

      <div id="forgot" class="form">
        <h2>Quên mật khẩu à bách ngu?</h2>
        <form>
          <input type="email" placeholder="Nhập email của bạn" />
          <button type="submit">Gửi yêu cầu</button>
        </form>

        <a href="#login" class="back">← Quay lại đăng nhập</a>
      </div>
    </div>
  </body>
</html>
